.board {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #3db1ff;
    box-shadow: 0 0 100px 1px #3db1ff;
    outline: none;
    background: black;

}